@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
 
}

.hero {
    display: flex;
    justify-content: center;
    gap: 16px;
    font-family: 'Roboto' sans-serif;
    color: #f9faf8;
    padding-top: 10px;
    padding-bottom: 30px;
}



.hero-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 400px;
    gap: 15px;
   
    
}

.hero-right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    background-color: #1f2937;
}


.logo { 
    font-size: 24px;
    display: flex;
    margin-bottom: 70px;
    
}

.right-links {
    list-style: none;
    display: flex;
    gap: 10px;
    color: #e5e7eb;
    margin-bottom: 85px;

}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
   
  
    
}

li {
    margin-left: 16px;

}

a, p {
    text-decoration: none;
    color:  #e5e7eb;
    font-size: 18px;
    flex-wrap: wrap;

}




.hero {
    background-color: #1f2937;
    font-family: 'Roboto', sans-serif;

}



img {
    margin-top: 10px;
    width: 500px;
    height: 215px;
    
}





h1  {
 font-size: 48px;
 width: 400px;
 flex-wrap: wrap;
 font-weight: 900;
 color: #f9faf8;
 
 
}

button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    background: #3882f6;
    color:#f9faf8;
    border: #3882f6;
    font-weight: 600;
}



